.home__container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
.left-sidebar__wrapper {
  width: 15vw;
  min-width: 200px;
  height: 100vh;
  overflow-y: scroll;
}

.left-sidebar__wrapper::-webkit-scrollbar {
  width: 5px;
}
.left-sidebar__wrapper::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: white;
}
.left-sidebar__wrapper::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: lightgrey;
}
.feed {
  width: 100vw;
  max-width: 550px;
}
.right-sidebar__wrapper {
  width: 40vw;
  max-width: 200px;
}
.friends-page {
  display: flex;
}
.post__modal {
  width: 100vw;
  height: 100vh;
}
